<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>	
<body>

   <br><br><br><br>
      <iframe frameborder="0" marginheight="0" marginwidth="0" height="490" align="center" src="//cdn.crichd.cx/embed2.php?id=starsp&q=Star Sports 1" name="iframe_a" scrolling="no" width="610">Your Browser Do not Support Iframe</iframe>
<form action ="watchCricketMatch">
<input type="button" id = "lwad" onclick="/watchCricketMatch">
</form>
<script>
$(document).ready(function() {
    $("#load").click(function() {
      $(this).prop("disabled", true);
      $(this).html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loadingg...`
      );
    });
});

</script>
</body>
</html>
